<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Provider=Microsoft.Jet.OLEDB.4.0;Data Source=RegularGlossary.mdb-->
		<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Data\Regular.xls;Extended Properties='Excel 8.0;HDR=yes;IMEX=2;'"/>
	</appSettings>
</configuration>